.layout-body {
  display: flex;
  min-height: calc(100vh - 68px);
}
.main-view {
  flex: 1 1 0;
  margin-left: 220px;
  background: var(--color-bg);
  padding: 2.4rem 2vw 2rem 2vw;
  min-height: calc(100vh - 68px);
}
@media (max-width: 900px) {
  .main-view {
    padding: 1rem 0.2vw 1rem 0.2vw;
  }
}
