.sidebar {
  min-width: 220px;
  background: var(--color-sidebar);
  border-right: 1.8px solid var(--color-border);
  padding: 0.5em 0 0.9em 0;
  height: calc(100vh - 68px); /* minus header height */
  position: fixed;
  top: 68px;
  left: 0;
  z-index: 12;
  transition: background 0.22s;
}
.sidebar nav ul {
  list-style: none;
  padding: 0.67em 0.5em 0 0.5em;
  margin: 0;
}
.sidebar nav ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.11em;
  color: var(--color-accent);
  border-radius: 7px;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: .17em;
  gap: 0.7em;
  transition: background var(--transition-fast), color var(--transition-fast);
}
.sidebar nav ul li.active, .sidebar nav ul li:hover {
  background: var(--gradient-outline);
  color: #fff;
  font-weight: 500;
}
.sidebar .icon {
  font-size: 1.25em;
}
