.ui-modal-backdrop {
  position: fixed;
  z-index: 999;
  inset: 0;
  background: rgba(60,40,100, 0.34);
  backdrop-filter: blur(0.5px);
}

.ui-modal {
  position: fixed;
  z-index: 1000;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-surface);
  box-shadow: 0 8px 40px #e040fb44;
  border-radius: 10px;
  min-width: 260px;
  max-width: 90vw;
  padding: 2rem 1.7rem 1.3rem 1.7rem;
  border: 2.5px solid var(--color-outline);
  transition: border-color .13s, box-shadow .18s;
}
